/* .token_main {
  width: 100%;
  display: block;
  background: #ffffff;
  opacity: 0.8;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 20px;
  display: flex;
}

.all_my_lock {
  width: 100%;
  display: flex;
}

.token_tab .ant-tabs-nav-list {
  flex: 1;
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}

.main-contaiober {
    width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  color: #222222;
  font-size: 14px;
}

.amount-txt {
  margin-top: 10px;
  text-align: left !important;
}


.left{
display: flex;
}


.text {
  margin-top: 8px;
  margin-left: 10px;
  font-family: "Segoe UI";
  font-style: bold;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
/* 
  color: #222222;
}
.pagination{
    display: flex;
    justify-content: center;
}



.AllMyLock{
  margin-top: 2px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  
    
}
.AllLock{
    height: 10px;
    display: flex;
    float: right;
    margin-bottom: 26px;
}

    
.All a{
    margin-right: 8px;
    font-size: 13px;
    color: #FA6200;
    border-bottom: 1px solid #FA6200;
    padding: 5px;
}

.MyLock a{
color: #000;
font-size: 13px;
border-bottom: 1px solid #000000;
padding: 5px;
}

.MyLock a:hover{
    color: #000;
    }


.token_header{
width: 100%;
display: flex;
justify-content: space-between;
margin: 16px 0;
font-size: 14px;
color: #222222;
font-weight: 600;
}


/* .img{
    background-image: url('../../Images/background.png');
    width:10%;

}
 */
/* 
@media (min-width: 200px) and (max-width: 390px) {
   
} */ 